.heading-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .heading {
    /* font-family: 'Arial Black', sans-serif; */
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    /* color: aliceblue; */
  }
  
  
.heading  {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  transition: all 0.3s ease-in-out;
}

.heading:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.heading :hover {
  background-position: 0;
}

.heading:hover::before {
  width: 100%;
}



canvas{
    height: 5rem !important;
    width: 30rem;
}